@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #e0e0e0;
    color: #222;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
}

.pw-container {
    border-radius: 15px;
    background-color: #e0e0e0;
    box-shadow: inset 6px 6px 12px #d1d1d1, inset -6px -6px 12px #ffffff;
    min-width: 400px;
    padding: 1.5rem;
}

h1 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 1.5rem;
    color: #222;
}

button {
    cursor: pointer;
}

button:active {
    box-shadow: inset 2px 2px 4px #d1d1d1, inset -2px -2px 4px #ffffff;
}

#dark-mode {
    border: none;
    background-color: #e0e0e0;
    border-radius: 15px;
    color: #222;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 1rem;
    box-shadow: 2px 2px 4px #d1d1d1, -2px -2px 4px #ffffff;
}

.form-control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.75rem 0;
}

.generate {
    border-radius: 15px;
    background-color: #e0e0e0;
    border: none;
    color: #222;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.75rem;
    margin-top: 1rem;
    width: 100%;
    text-align: center;
    box-shadow: 2px 2px 4px #d1d1d1, -2px -2px 4px #ffffff;
}

.pw-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;
}

.pw {
    font-size: 1.5rem;
}

#copy, #export {
    background-color: #e0e0e0;
    border: none;
    border-radius: 15px;
    color: #222;
    cursor: pointer;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 1rem;
    box-shadow: 2px 2px 4px #d1d1d1, -2px -2px 4px #ffffff;
}

.footer {
    font-size: 0.875rem;
    text-align: center;
    margin-top: 1rem;
}

.select-wrapper {
    position: relative;
    display: inline-block;
}

.select-wrapper::after {
    content: "▼";
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    pointer-events: none;
    color: #5c97b0;
}

select {
    appearance: none;
    background-color: #e0e0e0;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    outline: none;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    color: #222;
    cursor: pointer;
    width: 100%;
    box-shadow: inset 2px 2px 4px #d1d1d1, inset -2px -2px 4px #ffffff;
}

select::-ms-expand {
    display: none;
}

select:focus {
    border-color: #3bc14a;
}

.custom-input input {
    background-color: #e0e0e0;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    outline: none;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    color: #222;
    width: 100%;
    box-shadow: inset 2px 2px 4px #d1d1d1, inset -2px -2px 4px #ffffff;
}

.custom-input input:focus {
    border-color: #3bc14a;
}

.custom-checkbox {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    font-size: 1rem;
    user-select: none;
    pointer-events: none;
}

.custom-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    z-index: 1;
    pointer-events: auto;
}

.custom-checkbox::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 18px;
    width: 18px;
    background-color: #e0e0e0;
    border-radius: 4px;
    z-index: 1;
    box-shadow: 2px 2px 4px #d1d1d1, -2px -2px 4px #ffffff;
}

.custom-checkbox input:checked::after {
    content: "";
    position: absolute;
    left: 6px;
    top: 50%;
    transform: translateY(-50%);
    height: 10px;
    width: 6px;
    border: solid #5c97b0;
    border-width: 0 2px 2px 0;
    transform: translateY(-50%) rotate(45deg);
    z-index: 2; 
}

.custom-checkbox input:checked::before {
    background-color: #e0e0e0;
    border-color: #5c97b0;
}

.custom-checkbox input:focus::before {
    border-color: #3bc14a;
}

body.dark-mode {
    background-color: #3c3c3c;
}

.dark-mode .pw-container {
    background-color: #292929;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5), -5px -5px 10px rgba(255, 255, 255, 0.1);
}

.dark-mode select,
.dark-mode .custom-input input,
.dark-mode .custom-checkbox::before {
    background-color: #4e4e4e;
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.5), inset -2px -2px 4px rgba(255, 255, 255, 0.1);
}

.dark-mode .custom-checkbox input:checked::before {
    background-color: #4e4e4e;
}

.dark-mode .custom-checkbox input:checked::after {
    border-color: #F5E050;
}

.dark-mode .custom-checkbox input:focus::before {
    border-color: #F5E050;
}
