@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #607D8B;
    color: #F5E050;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
}

.dark-mode {
    background-color: #37474F;
}

.pw-container {
    border-radius: 15px;
    background-color: #455A64;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    min-width: 400px;
    padding: 1.5rem;
}

h1 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 1.5rem;
    color: #F5E050;
}

button {
    cursor: pointer;
}

#dark-mode {
    border: none;
    background-color: #F5E050;
    border-radius: 15px;
    color: #000;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

.form-control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.75rem 0;
}

.generate {
    border-radius: 15px;
    background-color: #3BC14A;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.75rem;
    margin-top: 1rem;
    width: 100%;
    text-align: center;
}

.pw-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid #F5E050;
    padding: 1.5rem 0;
}

.pw {
    font-size: 1.5rem;
}

#copy, #export {
    background-color: #F5E050;
    border: none;
    border-radius: 15px;
    color: #000;
    cursor: pointer;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

.footer {
    font-size: 0.875rem;
    text-align: center;
    margin-top: 1rem;
}
