@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #607D8B;
    color: #F5E050;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
}

.dark-mode {
    background-color: #37474F;
}

.pw-container {
    border-radius: 15px;
    background-color: #455A64;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    min-width: 400px;
    padding: 1.5rem;
}

h1 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 1.5rem;
    color: #F5E050;
}

button {
    cursor: pointer;
}

#dark-mode {
    border: none;
    background-color: #F5E050;
    border-radius: 15px;
    color: #000;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

.form-control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.75rem 0;
}

.generate {
    border-radius: 15px;
    background-color: #3BC14A;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.75rem;
    margin-top: 1rem;
    width: 100%;
    text-align: center;
}

.pw-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid #F5E050;
    padding: 1.5rem 0;
}

.pw {
    font-size: 1.5rem;
}

#copy, #export {
    background-color: #F5E050;
    border: none;
    border-radius: 15px;
    color: #000;
    cursor: pointer;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

.footer {
    font-size: 0.875rem;
    text-align: center;
    margin-top: 1rem;
}

.select-wrapper {
    position: relative;
    display: inline-block;
}

.select-wrapper::after {
    content: "▼";
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    pointer-events: none;
    color: #5c97b0;
}

select {
    appearance: none;
    background-color: #ffffff;
    border: 1px solid #5c97b0;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    outline: none;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    color: #5c97b0;
    cursor: pointer;
    width: 100%;
}

select::-ms-expand {
    display: none;
}

select:focus {
    border-color: #3bc14a;
}

.custom-input input {
    background-color: #ffffff;
    border: 1px solid #5c97b0;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    outline: none;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    color: #5c97b0;
    width: 100%;
}

.custom-input input:focus {
    border-color: #3bc14a;
}

.custom-checkbox {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    font-size: 1rem;
    user-select: none;
    pointer-events: none;
}

.custom-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    z-index: 1;
    pointer-events: auto;
}

.custom-checkbox::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 18px;
    width: 18px;
    background-color: #ffffff;
    border: 1px solid #5c97b0;
    border-radius: 4px;
    z-index: 1; 
}

.custom-checkbox input:checked::after {
    content: "";
    position: absolute;
    left: 6px;
    top: 50%;
    transform: translateY(-50%);
    height: 10px;
    width: 6px;
    border: solid #5c97b0;
    border-width: 0 2px 2px 0;
    transform: translateY(-50%) rotate(45deg);
    z-index: 2; 
}

.custom-checkbox input:checked::before {
    background-color: #ffffff;
    border-color: #5c97b0;
}

.custom-checkbox input:focus::before {
    border-color: #3bc14a;
}

