@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
}

body {
    background-color: #4D5057;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    margin: 0;
    min-height: 100vh;
}

.pw-container {
    border-radius: 15px;
    background-color: #4E6E5D;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    min-width: 400px;
}

.pw-header {
    padding: 1rem;
}

.pw {
    border-radius: 15px;
    background-color: #4DA167;
    display: flex;
    font-size: 1.5rem;
    align-items: center;
    height: 70px;
    width: 100%;
    position: relative;
    padding: 1rem;
    overflow: auto;
}

.pw button {
    border-radius: 15px;
    background-color: white;
    border: none;
    color: rgb(29, 2, 56);
    cursor: pointer;
    font-family: inherit;
    font-weight: bold;
    padding: 0.25rem;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(0, 20%);
    transition: opacity 0.2s ease, transform 0.2s ease;
    opacity: 0;
}

.pw:hover button {
    opacity: 1;
    transform: translate(0, 0%);
}

.pw-body {
    padding: 0 1rem 1rem;
}

.form-control {
    border-radius: 15px;
    color: #eee;
    display: flex;
    justify-content: space-between;
    margin: 0.75rem 0;
}

.h1 {
    position: absolute;
    top: 10%;
    left: 50%;
    /* transform: translateX(-50%); */
    text-align: center;
    color: #000000;
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.generate {
    border-radius: 15px;
    background-color: #3BC14A;
    border: none;
    color: #000000;
    cursor: pointer;
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.75rem;
    margin-top: 1rem;
    width: 100%;
}

/* Solid border */
hr.solid {
    border-top: 3px solid #bbb;
  }

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            /* Footer height */
  }
